<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismiss()">닫기</ion-button>
    </ion-buttons>
    <ion-title>공기량 체크</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">  
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>용기+물</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력" formControlName="cWater" (ionFocus)="onEvent($event)"></ion-input>
            <span>g</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>초기압력</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력" formControlName="iPressure" (ionFocus)="onEvent($event)"></ion-input>
            <span>kPa</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>평형압력</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력" formControlName="ePressure" (ionFocus)="onEvent($event)"></ion-input>
            <span>kPa</span>
        </ion-item>
      </ion-col>
    </ion-row>  
    <ion-button expand="full" (click)="calculator()" [disabled]="!form.valid">측정</ion-button>
    <br />
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>계산값</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" formControlName="cValue" [value]="calc" readonly></ion-input>
            <span>(%)</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>측정값</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" formControlName="mValue" [value]="value" readonly></ion-input>
            <span>(%)</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

    </form>
  </ion-content>

  <ion-footer>
    <ion-input [(ngModel)]="footnote" readonly></ion-input>
  </ion-footer>
