<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismiss()">닫기</ion-button>
    </ion-buttons>
    <ion-title>공기량 체크</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">  
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>용기+물</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력" formControlName="cWater"></ion-input>
            <span>g</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>초기압력</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력"></ion-input>
            <span>kPa</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>평형압력</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력"></ion-input>
            <span>kPa</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>계산값</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" placeholder="입력"></ion-input>
            <span>(%)</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
    
    <ion-button expand="full" (click)="calc()">측정</ion-button>
    <br />
    <ion-row>
      <ion-col>
        <ion-item lines="none">
            <ion-label>측정값</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
            <ion-input type="number" [value]="value" readonly></ion-input>
            <span>(%)</span>
        </ion-item>
      </ion-col>
    </ion-row>
    </form>
  </ion-content>

  <ion-footer>
      <ion-note>용기+골재를 저울에 올리고 적용 버튼을 누르세요.</ion-note>
  </ion-footer>