/*
ion-button {
  background-color: var(--ion-color-slackSub);
}
*/

.measure-card {
  margin:3px !important;
  display: flex;
  flex-direction: column;
  background: #ffffff;  
}

.g-text {
  font-size: 2em;
}