<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ "MEASURE" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

  <div *ngIf="!isMix">
    <!--
    <ion-card [routerLink]="['/app/mix-list']">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>{{ "JOB_NAME" | translate }}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label>{{ "CONTRACTOR" | translate }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>{{ "SITE_NAME" | translate }}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col>  
              <ion-item>
                <ion-label>{{ "MIX_NAME" | translate }}</ion-label>
              </ion-item> 
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card>
    -->
      <ion-card>
        <ion-item [routerLink]="['/app/mix-list']">
          <ion-label>{{"MIX_INPUT_CHOICE" | translate}}</ion-label>
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card class="measure-card">
        <ion-card-content>
        
        <ion-list (click)="chooseAlert()">
          <ion-item-divider>
            {{ "INPUT_DATA" | translate }}
          </ion-item-divider>
              <ion-item>
                <ion-label>{{ "SLUMP" | translate }}</ion-label>
                <ion-input placeholder="(mm)" type="number"></ion-input>
              </ion-item>          
              <ion-item>
                <ion-label>{{ "CONCRETE_TEMP" | translate }}</ion-label>
                <ion-input placeholder="(°C)" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>{{ "VESSEL_PLUS_CONCRETE" | translate }}</ion-label>
                <ion-input placeholder="(g)" type="number"></ion-input>
                <ion-button color="slackSub">{{ "APPLY" | translate }}</ion-button>
              </ion-item>
              <ion-item>
                <ion-label>{{ "VESSEL_PLUS_CONCRETE_PLUS_WATER" | translate }}</ion-label>
                <ion-input placeholder="(g)" type="number"></ion-input>
                <ion-button color="slackSub">{{ "APPLY" | translate }}</ion-button>
              </ion-item>
              <ion-item>
                <ion-label>{{ "INITIAL_PRESSURE" | translate }}</ion-label>
                <ion-input placeholder="(kPa)" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>{{ "EQUILIBRIUM_PRESSURE" | translate }}</ion-label>
                <ion-input placeholder="(kPa)" type="number"></ion-input>
              </ion-item>
          <ion-item-divider>
              {{ "REALTIME" | translate }}
          </ion-item-divider>
          <ion-item lines="none" text-center>
              <ion-label color="slackSub" class="g-text"><b>g</b></ion-label>
          </ion-item>
        </ion-list>  

      </ion-card-content>
      </ion-card>

  </div>

  <div *ngIf="isMix">
    <!--
    <ion-card (click)="presentExpand()">
      <ion-list *ngFor="let mix of mixs">
        <ion-item>
            <ion-label>{{ "JOB_NAME" | translate }}</ion-label>
            <ion-label>{{ mix.cname }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{ "CONTRACTOR" | translate }}</ion-label>
            <ion-label>{{ mix.ct_name }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ "SITE_NAME" | translate }}</ion-label>
          <ion-label>{{ mix.sname }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ "MIX_NAME" | translate }}</ion-label>
          <ion-label>{{ mix.mixnum }}</ion-label>
        </ion-item> 
      </ion-list>
    </ion-card>
    -->
    <ion-card (click)="presentExpand()">
      상세보기
    </ion-card>
    <form [formGroup]="form">  
        <ion-list>
          <ion-item-divider>
            {{ "INPUT_DATA" | translate }}
          </ion-item-divider>
          <ion-item>
            <ion-label>{{ "SLUMP" | translate }}</ion-label>
            <ion-input formControlName="slump" placeholder="(mm)" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ "CONCRETE_TEMP" | translate }}</ion-label>
            <ion-input formControlName="temp" placeholder="(°C)" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ "VESSEL_PLUS_CONCRETE" | translate }}</ion-label>
            <ion-input name="concrete" (ionFocus)="onEvent($event)" formControlName="concrete" placeholder="(g)" type="number" [value]="inputs[0]" readonly></ion-input>
            <ion-button color="slackSub" (click)="apply()">{{ "APPLY" | translate }}</ion-button>
          </ion-item>
          <ion-item>
            <ion-label>{{ "VESSEL_PLUS_CONCRETE_PLUS_WATER" | translate }}</ion-label>
            <ion-input name="water" (ionFocus)="onEvent($event)" formControlName="water" placeholder="(g)" type="number" [value]="inputs[1]" #modelInput2 readonly></ion-input>
            <ion-button color="slackSub" (click)="apply2()">{{ "APPLY" | translate }}</ion-button>
          </ion-item>
          <ion-item>
            <ion-label>{{ "INITIAL_PRESSURE" | translate }}</ion-label>
            <ion-input name="iPressure" (ionFocus)="onEvent($event)" formControlName="iPressure" placeholder="(kPa)" type="text" [value]="pressure[0]" #modelInput3 readonly></ion-input>
          </ion-item> 
          <ion-item>
            <ion-label>{{ "EQUILIBRIUM_PRESSURE" | translate }}</ion-label>
            <ion-input name="ePressure" (ionFocus)="onEvent($event)" formControlName="ePressure" placeholder="(kPa)" type="text" [value]="pressure[1]" readonly></ion-input>
          </ion-item>
          <ion-item-divider>
            {{ "REALTIME" | translate }}
          </ion-item-divider>
          <ion-item lines="none" text-center>
              <ion-label color="slackSub" class="g-text"><b>{{realtime}} g</b></ion-label>
          </ion-item>  
        </ion-list>
      <ion-button color="slackSub" expand="full" (click)="presentResult()" [disabled]="!form.valid">{{"MEASURED_RESULT" | translate}}</ion-button>
        <!--
        <ion-button expand="full" (click)="goOutcome()" [disabled]="!form.valid">결과보기</ion-button>
        -->
      </form>
  </div>