/*
ion-button {
  background-color: var(--ion-color-slackSub);
}
*/

ion-content{
  .measure-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;  
  }  
}

.g-text {
  font-size: 2em;
}