<ion-header>
  <ion-toolbar>
    <ion-title>
      측정
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


      <div *ngIf="!isMix">
        <ion-card [routerLink]="['/mix-list']">
          <ion-list>
              <ion-item>
                  <ion-label>사업장</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>계약자</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>현장명</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>배합번호</ion-label>
              </ion-item> 
          </ion-list>
        </ion-card>
      </div>

      <div *ngIf="isMix">
        <ion-card (click)="presentExpand()">
            <ion-list *ngFor="let mix of mixs">
                <ion-item>
                    <ion-label>사업장</ion-label>
                    <ion-label>{{ mix.cname }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>계약자</ion-label>
                    <ion-label>{{ mix.ct_name }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>현장명</ion-label>
                  <ion-label>{{ mix.sname }}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>배합번호</ion-label>
                  <ion-label>{{ mix.mixnum }}</ion-label>
                </ion-item> 
            </ion-list>
        </ion-card>
        
      </div>

  <ion-list>
    <ion-item-divider>
      입력 데이터
    </ion-item-divider>
    <ion-item>
      <ion-label>슬럼프</ion-label>
      <ion-input placeholder="슬럼프" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="콘크리트 온도" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="용기+콘크리트" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="용기+콘크리트+물" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="초기압력" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="평형압력" type="text"></ion-input>
    </ion-item>
    <ion-item-divider>
        실시간
    </ion-item-divider>
    <ion-item lines="none">
        <ion-label style="text-align: center;"> g</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="full" (click)="presentResult()">결과보기</ion-button>
</ion-footer>