<ion-content>
    
<form #elementForm="ngForm" role="form">
  <div class="form-group">
      <ion-list inset>
        <ion-list-header>
          <ion-label>
              단위<br />Unit
          </ion-label>
          <ion-label>
              질량<br />Unit kg/m²
          </ion-label>
          <ion-label>
              밀도<br />Density g/cm²
          </ion-label>
        </ion-list-header>
        <ion-item-divider>
            <ion-label>
                물
            </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>W1</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w1_unit" (ionChange)="calcUnit($event)" [(ngModel)]="element.w1_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w1_density" (ionChange)="calcWd()" [(ngModel)]="element.w1_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>W2</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w2_unit" (ionChange)="calcUnit($event)" [(ngModel)]="element.w2_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w2_density" [(ngModel)]="element.w2_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>W3</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w3_unit" (ionChange)="calcUnit($event)" [(ngModel)]="element.w3_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="w3_density" [(ngModel)]="element.w3_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>W</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" [value]="wUnit" readonly></ion-input> 
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" [value]="element.w1_unit" readonly></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-divider>
            <ion-label>
                시멘트
            </ion-label>
        </ion-item-divider>    
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>C1</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c1_unit" [(ngModel)]="element.c1_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c1_density" [(ngModel)]="element.c1_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>C2</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c2_unit" [(ngModel)]="element.c2_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c2_density" [(ngModel)]="element.c2_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>C3</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c3_unit" [(ngModel)]="element.c3_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="c3_density" [(ngModel)]="element.c3_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>C</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0"></ion-input> 
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-divider>
            <ion-label>
                광물질 혼화재
            </ion-label>
        </ion-item-divider> 
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>M.ad1</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad1_unit" [(ngModel)]="element.mad1_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad1_density" [(ngModel)]="element.mad1_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>M.ad2</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad2_unit" [(ngModel)]="element.mad2_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad2_density" [(ngModel)]="element.mad2_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>M.ad3</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad3_unit" [(ngModel)]="element.mad3_unit"></ion-input>    
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0" name="mad3_density" [(ngModel)]="element.mad3_density"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none">
            <ion-row>
                <ion-col>
                    <ion-label>M.ad</ion-label>
                </ion-col>                
                <ion-col>
                    <ion-input type="number" placeholder="0"></ion-input> 
                </ion-col>
                <ion-col>
                    <ion-input type="number" placeholder="0"></ion-input>    
                </ion-col>
            </ion-row>
        </ion-item>

      </ion-list>
      <ion-item lines="none">
        <ion-button slot="start" size="medium" shape="round" (click)="goToPrevious(elementForm)">
            <ion-icon name="arrow-round-back"></ion-icon>
            이전
        </ion-button>
        <ion-button slot="end" size="medium" shape="round" [disabled]="!elementForm.valid" (click)="goToNext(elementForm)">
            다음
            <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-button>
      </ion-item>
  </div>
</form>
<!--
<pre>{{ formData | json }}</pre>
-->


</ion-content>