<form #personalForm="ngForm" role="form">
    <div class="form-group">

        <ion-list>
            <ion-item>
                <ion-label position="floating">배합번호</ion-label>
                <ion-input required placeholder="입력" name="mixnum" type="text" [(ngModel)]="personal.mixnum"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">사업장</ion-label>
                <ion-select required placeholder="선택" name="company" [(ngModel)]="personal.company">
                    <ion-select-option [value]="company.id" *ngFor="let company of companies">{{ company.cname }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">계약자</ion-label>
                <ion-select required placeholder="선택" name="contractor" [(ngModel)]="personal.contractor">
                    <ion-select-option [value]="contractor.id" *ngFor="let contractor of contractors">{{ contractor.ct_name }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">현장명</ion-label>
                <ion-select required placeholder="선택" name="site" [(ngModel)]="personal.site">
                    <ion-select-option [value]="site.id" *ngFor="let site of sites">{{ site.sname }}</ion-select-option>
                </ion-select>   
            </ion-item>
        </ion-list>
        <ion-item lines="none">
            <ion-button slot="end" size="medium" shape="round" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)">
                다음
                <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-item>
        
    </div>
  </form>

