<ion-header>
  <ion-toolbar>
    <ion-title>즐겨찾기</ion-title>
    <ion-button slot="end" *ngIf="action && !blank"  no-padding (click)="hapus()">
      <ion-icon name="trash" color="light"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="sizeMore" (click)="action=!action">
      <ion-icon name="create" *ngIf="!edactionit"></ion-icon>
      <ion-icon name="close" *ngIf="action"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="blank" *ngIf="blank">
    <p>Your Wishlist is empty yet</p>
  </div>
  <div [class.routerLinkNone]="action">
    <ion-row>
      <ion-col size="6" no-padding *ngFor="let item of items,let i=index">
        <ion-card>          
          <div class="image">
            <ion-item no-padding lines="none" no-margin *ngIf="action"><ion-checkbox [value]="item.value" color="orange" (ionChange)="indexDelete(item.value)"></ion-checkbox></ion-item>
            <img [src]="item.image" class="item-center" routerLink="/product-card" routerDirection="forward">
          </div>
          <ion-card-content routerLink="/product-card" routerDirection="forward">
            <ion-text color="dark"><h2>{{item.title}}</h2></ion-text>
            <p><ion-text color="medium">{{item.brand}}</ion-text></p>
            <p text-right><ion-text color="purple">{{item.price}}</ion-text></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>  

</ion-content>
