<ion-header>
  <ion-toolbar>
    <ion-title>즐겨찾기</ion-title>
    <ion-button slot="end" *ngIf="action && !blank" no-padding (click)="hapus()">
      <ion-icon name="trash" color="light"></ion-icon>
    </ion-button>
    <ion-button slot="end" (click)="action=!action" *ngIf="!blank">
      <ion-icon name="create" *ngIf="!action"></ion-icon>
      <ion-icon name="close" *ngIf="action"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="backgray" padding>
  <div class="blank" *ngIf="blank">
    <p>즐겨찾기 항목이 비어있습니다.</p>
  </div>
  <div [class.routerLinkNone]="action">
    <ion-row>
      <ion-col size="6" no-padding *ngFor="let item of items,let i=index">
        <ion-card>          
          <div class="image">
            <ion-item no-padding lines="none" no-margin *ngIf="action">
              <ion-checkbox [value]="item.value" (ionChange)="indexDelete(item.value)"></ion-checkbox>
            </ion-item>
          </div>
          <ion-card-content routerLink="/product-card" routerDirection="forward">
            <ion-text color="dark"><h2>{{item.title}}</h2></ion-text>
            <p><ion-text color="medium">{{item.brand}}</ion-text></p>
            <p text-right><ion-text color="purple">{{item.price}}</ion-text></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
