<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defalutHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']" routerDirection="forward">추가</ion-button>
    </ion-buttons>
    <ion-title>배합등록 모두보기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-card *ngFor="let mix of mixs">
        <ion-card-header>
          <ion-row>
            <ion-col size="6">
                {{ mix.mixnum }}
            </ion-col>
            <ion-col size="6" text-right [ngClass]="{'show-favorite': isFavorite}">
              <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
              <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-item (click)="movetab2(mix.id)" detail>
              {{ mix.cname }}<br />
              {{ mix.ct_name }}<br />
              {{ mix.sname }}<br />
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-item *ngFor="let mix of mixs" (click)="movetab2(mix.id)" detail>
        {{ mix.mixnum }}<br />
        {{ mix.cname }}<br />
        {{ mix.ct_name }}<br />
        {{ mix.sname }}<br />
      </ion-item>
    </ion-list>
  <!--
  <div padding>
    <ion-grid no-padding>
      <ion-row *ngFor="let mix of mixs">
        <ion-col size="6">
            {{ mix.mixnum }}<br />
            {{ mix.cname }}<br />
            {{ mix.ct_name }}<br />
            {{ mix.sname }}<br />
        </ion-col>
        <ion-col size="6" text-right [ngClass]="{'show-favorite': isFavorite}">
          <ion-icon name="heart-empty" size="large" class="icon-heart-empty" (click)="toggleFavorite()"></ion-icon>
          <ion-icon name="heart" color="danger" size="large" class="icon-heart" (click)="toggleFavorite()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  -->
  
  
</ion-content>
