<form #addressForm="ngForm" role="form">
    <div class="form-group">
        <ion-list>
            <ion-item>
                <ion-label>목표공기량</ion-label>
                <ion-input type="number" placeholder="0" name="air" [(ngModel)]="percentage.air"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>골재수정계수</ion-label>
                <ion-input type="number" placeholder="0" name="aggregate" [(ngModel)]="percentage.aggregate"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>이론용적</ion-label>
                <ion-input type="number" placeholder="0" name="volume" [(ngModel)]="percentage.volume"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>시멘트 습윤밀도</ion-text>
                    <ion-input type="number" placeholder="0" name="wet" [(ngModel)]="percentage.wet"></ion-input>
                    
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-radio-group>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>이론값</ion-label>
                                <ion-radio mode="md" item-left value="A"></ion-radio>
                            </ion-item>
                        </ion-col>
                    
                        <ion-col>
                            <ion-item>
                                <ion-label>측정값</ion-label>
                                <ion-radio mode="md" item-left value="B"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-radio-group>
            </ion-item>
        </ion-list>

        <ion-item lines="none">
            <ion-button slot="start" size="medium" shape="round" (click)="goToPrevious(addressForm)">
                <ion-icon name="arrow-round-back"></ion-icon>
                이전
            </ion-button>
            <ion-button slot="end" size="medium" shape="round" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)">
                다음
                <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
  </form>

  <!--
  <pre>{{ formData | json }}</pre>
  -->
