<ion-content>
    <!--     
    <pre>{{ formData | json }}</pre>
    -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <ion-item lines="none">
        <ion-button slot="start" size="medium" shape="round" (click)="goToPrevious()">
            <ion-icon name="arrow-round-back"></ion-icon>
            이전
        </ion-button>
        <ion-button color="tertiary" slot="end" size="medium" shape="round" (click)="checkConfirm()">
            <ion-icon name="send"></ion-icon>
            제출
        </ion-button>
    </ion-item>     
</ion-content>