

  ion-content{

    .content{
      /*
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 300px;
      background: url('../../assets/img/404_image.png') no-repeat;
      background-size: cover;
      */
      .register-card {
        display: flex;
        flex-direction: column;
        height: 150px !important;
        width: 140px !important;
        background: #fff;  
      }

      .complete-card {
        display: flex;
        flex-direction: column;
        height: 200px !important;
        background: #fff;  
      }
    }
  }