<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" routerDirection="forward">
        <ion-icon name="person" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      홈
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/register']" routerDirection="forward">
        <ion-icon name="add" style="zoom:1.5;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item lines="none">
      <ion-label text-left>배합등록</ion-label>
      <ion-buttons>
        <ion-button routerLink="/mix-list" routerDirection="forward" class="transparent">
          <ion-text color="purple">더보기</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div *ngIf="blankMix">
      <p>배합등록 항목이 비어있습니다.</p>
    </div>
    <ion-slides [options]="sliderOptions" class="sliderCategories">
      <ion-slide *ngFor="let mixRegister of mixRegisters">
        <!--
        <ion-card (click)="movetab2(mixRegister.id)">
        -->
        <ion-card (click)="presentEditMix(mixRegister.id)" class="register-card">
          <ion-card-header>
            <ion-card-subtitle>{{ mixRegister.mixnum }}</ion-card-subtitle>  
          </ion-card-header>
          <ion-card-content>
            <p>{{ mixRegister.cname }}</p>
            <p>{{ mixRegister.ct_name }}</p>
            <p>{{ mixRegister.sname }}</p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item lines="none" padding-start margin-top>
      <ion-label text-left>측정완료</ion-label>
      <ion-buttons>
        <ion-button routerLink="/complete-list" class="transparent">
          <ion-text color="purple">더보기</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div *ngIf="blankResult">
      <p>측정완료 항목이 비어있습니다.</p>
    </div>
    <div class="list-product">
      <ion-row no-padding >
        <ion-col size="6" no-padding no-margin *ngFor="let result of results">
          <ion-card class="complete-card" padding no-margin routerLink="/details/{{result.id}}" routerDirection="forward">
            <ion-card-header>
              <ion-card-subtitle>{{ result.mixnum }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <p>{{ result.cname }}</p>
                <p>{{ result.ct_name }}</p>
                <p>{{ result.sname }}</p>
                <b>{{ result.datetime | date : "yyyy-MM-dd"}}</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>조회</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <form role="form" [formGroup]="loggerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <ion-list>
                      <ion-item>
                        <ion-col>
                          <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                            시작일
                          </ion-label>
                          <ion-datetime display-format="MMM DD, YYYY"
                              monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"
                              formControlName="start"
                              [value]="yesterday"
                              placeholder="월/일/년" done-text="선택" cancel-text="취소"
                          ></ion-datetime>
                        </ion-col>
                        <ion-col>
                          <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                            끝일
                          </ion-label>
                          <ion-datetime display-format="MMM DD, YYYY"
                              monthShortNames="1월, 2월, 3월, 4월, 5월, 6월, 7월, 8월, 9월, 10월, 11월, 12월"  
                              formControlName="end"
                              [value]="today"
                              placeholder="월/일/년" done-text="선택" cancel-text="취소"
                          ></ion-datetime>
                        </ion-col>
                      </ion-item>
                      <ion-item>
                          <ion-label stacked>사업장</ion-label>
                          <ion-select placeholder="선택" ok-text="선택" cancel-text="취소" formControlName="company">
                            <ion-select-option [value]="-1">전체</ion-select-option>
                            <ion-select-option [value]="company.id" *ngFor="let company of companies">{{ company.cname }}</ion-select-option>
                          </ion-select>
                      </ion-item>
                      <ion-item>
                          <ion-label stacked>계약자</ion-label>
                          <ion-select placeholder="선택" ok-text="선택" cancel-text="취소" formControlName="contractor">
                            <ion-select-option [value]="-1">전체</ion-select-option>
                            <ion-select-option [value]="contractor.id" *ngFor="let contractor of contractors">{{ contractor.ct_name }}</ion-select-option>
                          </ion-select>
                      </ion-item>
                      <ion-item>
                          <ion-label>현장명</ion-label>
                          <ion-select placeholder="선택" ok-text="선택" cancel-text="취소" formControlName="site">
                            <ion-select-option [value]="-1">전체</ion-select-option>
                            <ion-select-option [value]="site.id" *ngFor="let site of sites">{{ site.sname }}</ion-select-option>
                          </ion-select>
                      </ion-item>
                      <ion-item>
                          <ion-label>배합번호</ion-label>
                          <ion-select placeholder="선택" ok-text="선택" cancel-text="취소" formControlName="mixnum">
                            <ion-select-option [value]="-1">전체</ion-select-option>
                            <ion-select-option [value]="mix.mixnum" *ngFor="let mix of mixs">{{ mix.mixnum }}</ion-select-option>
                          </ion-select>
                      </ion-item>
                  </ion-list>
                  <ion-button expand="full" type="submit" [disabled]="!loggerForm.valid">
                    <ion-icon name="search"></ion-icon>
                    조회
                  </ion-button>
              </div>
            </form>
      </ion-card-content>
    </ion-card>

</ion-content>
