  .register-card {
    display: flex;
    flex-direction: column;
    height: 150px !important;
    
  }

  .complete-card {
    display: flex;
    flex-direction: column;
    height: 200px !important;
    
  }
