<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismiss()">닫기</ion-button>
    </ion-buttons>
    <ion-title>골재밀도측정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

    <form [formGroup]="form">  
  <ion-list inset>
    <ion-item-divider>
        {{"REALTIME" | translate}}
    </ion-item-divider>
    <ion-item lines="none">
        <ion-label style="text-align: center; color: rgb(56, 128, 255); font-size: 3em;"><b>{{realtime}} g</b></ion-label>
    </ion-item>
    <ion-item-divider>
        입력데이터
    </ion-item-divider>
    <ion-row>
        <ion-col size=5>
            <ion-item lines="none">
                <ion-label>용기+골재</ion-label>
            </ion-item>
        </ion-col>
        <ion-col size=4>
            <ion-item>
                <ion-input name="aggregate1" formControlName="aggregate" (ionFocus)="onEvent($event)" [value]="inputs[0]" type="text" placeholder="입력"></ion-input>
                <span>g</span>
            </ion-item>
        </ion-col>
        <ion-col size=3>
            <ion-button (click)="apply()">적용</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=5>
            <ion-item lines="none">
                <ion-label position="fixed">용기+골재+물</ion-label>
            </ion-item>
        </ion-col>
        <ion-col size=4>
            <ion-item>
                <ion-input name="aggregate2" formControlName="water" (ionFocus)="onEvent($event)" [value]="inputs[1]" type="text" placeholder="입력" #modelInput2></ion-input>
                <span>g</span>
            </ion-item>
        </ion-col>
        <ion-col size=3>
            <ion-button (click)="apply2()">적용</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-label>초기압력</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-input name="iPressure" formControlName="iPressure" (ionFocus)="onEvent($event)" [value]="pressure[0]" type="text" placeholder="입력" #modelInput3></ion-input>
                <span>kPa</span>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-label>평행압력</ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-input name="ePressure" formControlName="ePressure" (ionFocus)="onEvent($event)" [value]="pressure[1]" type="text" placeholder="입력"></ion-input>
                <span>kPa</span>
            </ion-item>
        </ion-col>
    </ion-row>
  </ion-list>

  <ion-button expand="full" (click)="calculator()" [disabled]="!form.valid">측정</ion-button>

  <br />
  <ion-item>
    <ion-label>골재밀도</ion-label>
    <ion-input type="number" [value]="value" readonly></ion-input>
    <span>g/cm³</span> 
  </ion-item>

  </form>
</ion-content>

<ion-footer>
    <!--
    <ion-note>용기+골재를 저울에 올리고 적용 버튼을 누르세요.</ion-note>
    -->
    <ion-input [(ngModel)]="footnote" readonly></ion-input>
</ion-footer>
