<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button fill="clear" (click)="dismiss()">닫기</ion-button>
    </ion-buttons>
    <ion-title>골재밀도측정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--
  <h3>OUTPUT: {{budget}}</h3> 
    -->
  <ion-list inset>
    <ion-item class="input-font" >
        <ion-label fixed>용기+골재</ion-label>
        <ion-input type="number" place [(ngModel)]="budget"></ion-input>
        <span item-right>g</span>      
    </ion-item>
    <ion-item>
        <ion-label>용기+골재+물</ion-label>
        <ion-input type="number"></ion-input>
        <span item-right>g</span>
    </ion-item>
    <ion-item>
        <ion-label>초기압력</ion-label>
        <ion-input type="number"></ion-input>
        <span>kPa</span>
    </ion-item>
    <ion-item>
        <ion-label>평행압력</ion-label>
        <ion-input type="number"></ion-input>
        <span>kPa</span>
    </ion-item>
  </ion-list>

  <ion-button>측정</ion-button>


  <ion-item>
        <ion-label>골재밀도</ion-label>
        <ion-input type="number"></ion-input>
        <span>g/cm²</span> 
    </ion-item>

</ion-content>

<ion-footer>
    <ion-note>용기+골재를 저울에 올리고 적용 버튼을 누르세요.</ion-note>
</ion-footer>
