<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button fill="clear" (click)="dismiss()">닫기</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-button fill="clear" (click)="movetab2()">측정이동</ion-button>
      </ion-buttons>
      <ion-title>배합표</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card *ngFor="let element of elements">
        <ion-card-content>
                <form [formGroup]="form">  
                
            <ion-list inset>
                <ion-list-header>
                  <ion-label>
                      단위<br />Unit
                  </ion-label>
                  <ion-label>
                      질량<br />Unit kg/m²
                  </ion-label>
                  <ion-label>
                      밀도<br />Density g/cm²
                  </ion-label>
                </ion-list-header>
                <ion-item-divider>
                    <ion-label>
                        물
                    </ion-label>
                </ion-item-divider>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>W1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w1_unit" [value]="element.w1_unit" formControlName="w1"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w1_density" [value]="element.w1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>W2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w2_unit" [value]="element.w2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w2_density" [value]="element.w2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>W3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w3_unit" [value]="element.w3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="w3_density" [value]="element.w3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-divider>
                    <ion-label>
                        시멘트
                    </ion-label>
                </ion-item-divider>    
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>C1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c1_unit" [value]="element.c1_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c1_density" [value]="element.c1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>C2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c2_unit" [value]="element.c2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c2_density" [value]="element.c2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>C3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c3_unit" [value]="element.c3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="c3_density" [value]="element.c3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-divider>
                    <ion-label>
                        광물질 혼화재
                    </ion-label>
                </ion-item-divider> 
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>M.ad1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad1_unit" [value]="element.mad1_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad1_density" [value]="element.mad1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>M.ad2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad2_unit" [value]="element.mad2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad2_density" [value]="element.mad2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>M.ad3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad3_unit" [value]="element.mad3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="mad3_density" [value]="element.mad3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-divider>
                    <ion-label>
                        잔골재
                    </ion-label>
                </ion-item-divider>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>S1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s1_unit" [value]="element.s1_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s1_density" [value]="element.s1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>S2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s2_unit" [value]="element.s2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s2_density" [value]="element.s2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>S3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s3_unit" [value]="element.s3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="s3_density" [value]="element.s3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-divider>
                    <ion-label>
                        굵은골재
                    </ion-label>
                </ion-item-divider>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>G1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g1_unit" [value]="element.g1_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g1_density" [value]="element.g1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>G2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g2_unit" [value]="element.g2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g2_density" [value]="element.g2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>G3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g3_unit" [value]="element.g3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="g3_density" [value]="element.g3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item-divider>
                    <ion-label>
                        혼화제
                    </ion-label>
                </ion-item-divider>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>Ad1</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad1_unit" [value]="element.ad1_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad1_density" [value]="element.ad1_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>Ad2</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad2_unit" [value]="element.ad2_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad2_density" [value]="element.ad2_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
                <ion-item lines="none">
                    <ion-row>
                        <ion-col>
                            <ion-label>Ad3</ion-label>
                        </ion-col>                
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad3_unit" [value]="element.ad3_unit"></ion-input>    
                        </ion-col>
                        <ion-col>
                            <ion-input type="number" placeholder="0" name="ad3_density" [value]="element.ad3_density"></ion-input>    
                        </ion-col>
                    </ion-row>
                </ion-item>
              </ion-list>
              <ion-list>
                  <ion-item-divider></ion-item-divider>
                  <ion-item lines="none">
                      <ion-row>
                          <ion-col>
                              <ion-label>목표공기량</ion-label>
                          </ion-col>                
                          <ion-col>
                              <ion-input type="number" placeholder="0" name="air" [value]="element.air"></ion-input>    
                          </ion-col>
                      </ion-row>
                  </ion-item>
                  <ion-item lines="none">
                      <ion-row>
                          <ion-col>
                              <ion-label>골재수정계수</ion-label>
                          </ion-col>                
                          <ion-col>
                              <ion-input type="number" placeholder="0" name="aggregate" [value]="element.aggregate"></ion-input>    
                          </ion-col>
                      </ion-row>
                  </ion-item>
                  <ion-item lines="none">
                      <ion-row>
                          <ion-col>
                              <ion-label>이론용적</ion-label>
                          </ion-col>                
                          <ion-col>
                              <ion-input type="number" placeholder="0" name="volume" [value]="element.volume"></ion-input>    
                          </ion-col>
                      </ion-row>
                  </ion-item>
                  <ion-item lines="none">
                      <ion-row>
                          <ion-col>
                              <ion-label>시멘트 습윤밀도</ion-label>
                          </ion-col>                
                          <ion-col>
                              <ion-input type="number" placeholder="0" name="wet" [value]="element.wet"></ion-input>    
                          </ion-col>
                      </ion-row>
                  </ion-item>
              </ion-list>
              <ion-button expand="full" (onClick)="update()">업데이트</ion-button>
            </form>
        </ion-card-content>
      </ion-card>
      
</ion-content>