<ion-header>

</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="segment" scrollable>
      <ion-segment-button value="0"> 
          사업장
      </ion-segment-button>
      <ion-segment-button value="1">
          계약자
      </ion-segment-button>
      <ion-segment-button value="2">
          현장명
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="0">

        </ion-list>
        <ion-list *ngSwitchCase="1">
    
        </ion-list>
        <ion-list *ngSwitchCase="2">
    
        </ion-list>
      </div>

</ion-content>